h1 { 
	opacity: 0.5;
	font-size: 20;
	font-family: Impact;
	text-align: center;
	height: 45px;
	width: 600px;
	border-radius: 10px;
	background-color: #33CCCC;
}

.shell {
	opacity: 1;
	border: solid grey 5px;
	margin: 5px 5px 5px 5px;
	padding: 5px 5px 5px 5px;
	border-radius: 5px;
	position: absolute;
}

.frame {
	color: white;
	opacity: 0.5;
	border: solid orange 5px;
	border-radius: 10px;
	height: 400px;
	width: 400px;
	margin-bottom: 15px;
	position: relative;
	float: left;
	padding: 0px 0px 0px 0px;
	display: inline;
}

.scoreboard {	
	height: 410px;
	width: 180px;
	opacity: 1;
	border-radius: 10px;
	margin-bottom: 15px;
	position: relative;
	margin-left: 5px;
	float: right;
	background-color: #66FFCC;
	text-align: center;
}

h3 {
	opacity: 0.5;
	font-family: Impact;
	font-size: 16;
	height: 12px;
}

p {
	opacity: 0.5;
	font-family: Arial;
	height: 5px;
}

.current {
	
}

.best {
	
}

.tile {
	opacity: 0.5;
	margin-left: 10px;
	margin-top: 10px;
	float: left;
	border-radius: 10px;
	height: 120px;
	width: 120px;
}

.willfade {

}

h5 {
	font-family: Arial;
	font-size: 18;
}

.difficulty {
	color: white;
	height: 14px;
	border-radius: 10px;
	background-color: black;
	opacity: 0.5;
	margin-left: 55px; 
	margin-right: 55px;
}

.active {
	background-color: white;
	color: black;
	opacity: 0.5;
}

.one{

}
.two{

}
.three{

}
.four{

}
.five{

}
.six{

}
.seven{

}
.eight{

}
.nine{

}

.red {
	background-color: red;
}
.blue {
	background-color: blue;
}
.green {
	background-color: green;
}
.purple {
	background-color: purple;
}
.colorp {
	opacity: 0.25;
	border: solid black 2px;
	border-radius: 10px;
	height: 20px;
	width: 20px;
	margin-bottom: 15px;
	position: relative;
	float: left;
	padding: 0px 0px 0px 0px;
	display: inline;
}
.colorb {
	background-color: blue;
	margin-left: 25px;
	margin-right: 5px;
}
.colorg {
	background-color: green;
	margin-left: 5px;
	margin-right: 5px;
}
.colorr{
	background-color: red;
	margin-left: 5px;
	margin-right: 5px;
}
.colorpur {
	background-color: purple;
	margin-left: 5px;
	margin-right: 25px;
}
.activec {
	opacity: 0.5;
}
.newgame {
	margin-top: 50px;
	color: white;
	height: 35px;
	border-radius: 10px;
	background-color: black;
	opacity: 0.5;
	margin-left: 50px; 
	margin-right: 50px;
	padding-bottom: 15px;
}
.activen{
	background-color: white;
	color: black;
}
.victory{
	text-align: center;
	color: white;
	opacity: 0.3;
	border-radius: 10px;
	height: 230px;
	width: 410px;
	margin-bottom: 15px;
	position: absolute;
	float: left;
	padding-top: 180px;
	z-index: -10;
	display: inline;
	background-color: white;
}
.infront1{
	background-color: black;
	z-index: 10;
}
.debugbox{
	color: black;
	font-family: Impact;
	font-size: 20px;
	margin-top: 440px;
	bottom: 0;
	width: 600px;
	height: 50px;
	opacity: 0.5;
	border-radius: 5px;
	border: solid black 5px;
	padding: 5px 5px 5px 5px;
	text-align: center;
}